---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes";

.page__hero--overlay {
  padding: 2em 0;
}

p {
  margin-bottom: 0;
}

.profile-img {
  clear: both;
  float: left;
  border-radius: 4px;
  margin: 0 1em 1em 0;
}

.clear-both {
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.page__hero--overlay .page__title, .page__hero--overlay .page__meta, .page__hero--overlay .comment__date, .page__hero--overlay .page__lead, .page__hero--overlay .btn, .page__hero--overlay #goog-wm-sb {
    text-shadow: 4px 4px 4px rgba(0,0,0,1);
}

.one-third {

  @include span(12 of 12(gutter-override: 0));
  margin-bottom: 2em;

  @include breakpoint($medium) {
    @include span(6 of 12(gutter-override: 0));
    margin-bottom: 2em;
  }

  @include breakpoint($large) {
    @include span(4 of 12(gutter-override: 0));
    margin-bottom: 2em;
  }
}

.two-third {

  @include span(12 of 12(gutter-override: 0));
  margin-bottom: 2em;

  @include breakpoint($medium) {
    @include span(12 of 12(gutter-override: 0));
    margin-bottom: 2em;
  }

  @include breakpoint($large) {
    @include span(8 of 12(gutter-override: 0));
    margin-bottom: 2em;
  }
}

.last-third {

  @include span(12 of 12(gutter-override: 0));
  margin-bottom: 2em;
  text-align: left;

  @include breakpoint($medium) {
    @include span(12 of 12(gutter-override: 0));
    margin-bottom: 2em;
    text-align: left;
  }

  @include breakpoint($large) {
    @include span(4 of 12(gutter-override: 0));
    margin-bottom: 2em;
    text-align: right;
  }
}

.one-half {

  @include span(12 of 12(gutter-override: 0));
  margin-bottom: 2em;

  @include breakpoint($medium) {
    @include span(6 of 12(gutter-override: 0));
    margin-bottom: 2em;
  }

  @include breakpoint($large) {
    @include span(6 of 12(gutter-override: 0));
    margin-bottom: 2em;
  }
}

.padding-right {
  padding-right: 0.5em;
}

.align-right {
  text-align: right;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.5em; 
}

figcaption {
  margin-bottom: 1em;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
}

.masthead {
  border-bottom: 5px solid #E28F41;
}

.page__footer {
  border-top: 5px solid #6C9AC3;
  color: #6C9AC3;
}

a, .nav__list .nav__items a {
  color: #6C9AC3;
}

.greedy-nav a.site-title {
  color: #6C9AC3;
  font-size: xx-large;
  text-shadow: 1px 1px 4px #000;
}

.greedy-nav button {
  background-color: #6C9AC3;
}

.greedy-nav a {
  color: #E28F41;
}

.greedy-nav a:hover, .greedy-nav a:active  {
  color: #6C9AC3;
}

.greedy-nav .visible-links a:before {
  background: #6C9AC3;
}

.page__footer .fa {
  color: inherit;
}

.nav__list .nav__items {
  font-size: 1.5rem;
}